/* * {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} */

/* html {
  font-size: 62.5%;
} */

.lightbox {
  position: relative;
}

.lightbox .product-hero {
  width: 150%;
}

.lightbox .previous {
  left: 4%;
}

.lightbox .previous:hover {
  left: 3%;
}

.lightbox .next {
  right: 4%;
}

.lightbox .next:hover {
  right: 3%;
}

.lightbox .arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: white;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.lightbox .thumb-gallery {
  display: none;
}

.product {
  padding: 2rem 2.4rem 4.4rem 2.4rem;
}

.product .company-name {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  color: #09746c;
  letter-spacing: 0.18rem;
}

.product .title {
  color: #1d2025;
  font-size: 2.8rem;
  font-weight: 700;
  margin-top: 1.3rem;
  line-height: 118%;
}

.product .description {
  font-size: 1.5rem;
  color: #68707d;
  line-height: 165%;
  margin-top: 1.6rem;
}

.product .price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 2rem;
}

.product .price-wrapper .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.product .price-wrapper .group .price {
  font-size: 3rem;
  font-weight: 700;
}

.product .price-wrapper .group .discount {
  font-size: 1.5rem;
  font-weight: 700;
  color: #09746c;
  background-color: #ffede0;
  margin-left: 1.4rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.product .price-wrapper .old-price {
  font-size: 1.7rem;
  font-weight: 700;
  color: #b6bcc8;
  text-decoration: line-through;
}

.product .counter-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #f7f8fd;
  padding: 1.2rem 2.4rem;
  margin-top: 2rem;
  border-radius: 1rem;
}

.product .counter-wrapper .counter {
  font-size: 1.5rem;
  font-weight: 700;
}

.product .counter-wrapper #btnMinus,
.product .counter-wrapper #btnPlus {
  cursor: pointer;
  padding: 1rem;
  border-radius: 0.5rem;
}

.product .counter-wrapper #btnMinus:hover,
.product .counter-wrapper #btnPlus:hover {
  opacity: 0.5;
  background-color: #ffede0;
}

.product .btn {
  background-color: #09746c;
  color: white;
  margin-top: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.55rem;
  font-weight: 700;
  border-radius: 1rem;
  padding: 1.9rem;
  -webkit-box-shadow: 0px 20px 30px 0px #ffede0;
  box-shadow: 0px 20px 30px 0px #ffede0;
  cursor: pointer;
}

.product .btn img {
  height: 1.5rem;
  -webkit-filter: brightness(300%);
  filter: brightness(300%);
}

@media screen and (min-width: 1440px) {
  .container {
    width: 77%;
    margin: 0 auto;
  }

  .contente {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 10rem;
    padding: 9rem 5rem;
  }
  .lightbox {
    width: 100%;
  }
  .lightbox .product-hero {
    border-radius: 1.5rem;
  }
  .lightbox .previous,
  .lightbox .next {
    display: none;
  }
  .lightbox .thumb-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 3rem;
  }
  .lightbox .thumb-gallery .pic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 20%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
    border-radius: 1rem;
  }
  .lightbox .thumb-gallery .pic img {
    width: 100%;
  }
  .lightbox .thumb-gallery .pic img:hover {
    opacity: 0.75;
  }
  .lightbox .thumb-gallery .active {
    border: 2px solid #09746c;
  }
  .lightbox .thumb-gallery .active img {
    opacity: 0.5;
  }
  .product {
    width: 100%;
    padding: 3rem 0 3rem 3rem;
  }
  .product .title {
    font-size: 4.4rem;
    margin-top: 1.8rem;
  }
  .product .description {
    margin-top: 3.5rem;
    font-size: 1.63rem;
  }
  .product .price-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 2.4rem;
    gap: 0.8rem;
  }
  .product .count-btn-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1.5rem;
  }
  .product .count-btn-group .counter-wrapper {
    width: 62%;
    border-radius: 1rem;
    padding: 1.2rem 0.5rem;
  }
  .product .count-btn-group .btn {
    width: 100%;
  }
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.overlay .btnClose {
  width: 57rem;
  text-align: end;
  padding: 2rem 0;
}

.overlay .btnClose img {
  cursor: pointer;
  -webkit-filter: brightness(300%);
  filter: brightness(300%);
}

.overlay .lightbox {
  max-width: 57rem;
}

.overlay .lightbox .next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 0;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
}

.overlay .lightbox .previous {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.overlay .lightbox .arrow {
  top: 40%;
}

/* .hidden {
  display: none;
} */
/*# sourceMappingURL=style.css.map */
